[Unit]
Description=My App Service
After=network.target

[Service]
Type=simple
ExecStart=/home/rhom/scripts/screen/brutepaper
WorkingDirectory=/home/rhom/
Restart=always
User=rhom
Group=wheel

[Install]
WantedBy=multi-user.target
